:root{
  --content-box-bg-color : #F7F7F9;
  --content-color : black;
  --background-color  : white;
  --bg-color-for-blog :   #F7F7F9;
  --card-background-color : #F7F7F9;
  --tradmark-bg-color : #EFEFF0;
  --nav-item-color  : #300C0C;
  --shadow-for-invoice : 0 0 10px rgba(0, 0, 0, 0.15);
}
body{
  font-family: "Questrial", sans-serif;
  /* background-color: var(--background-color); */
}
input:not([type="submit"]):focus-visible {
  outline-width: 0px;
  border : 1px solid #FF9966
}
.dark{
  --background-color : #121212;
  --content-box-bg-color : #121212;
  --content-color : #E1E1E1;
  --bg-color-for-blog :   #292929;
  --card-background-color : #555555;
  --tradmark-bg-color : #292929;
  --nav-item-color  : #E1E1E1;
  --shadow-for-invoice :0 0 10px rgba(255, 255, 255, 0.15);

}
#root{
  background-color: var(--background-color);
  color: var(--content-color);
}