*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h5{
    padding: 0;
}
#root{
    position: relative;
}
header{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 1;
}
.container{
    margin: 0 auto;
}

.heading{
    background-color: #FF9966;
    color: white;
    font-size: 0.9rem;
    padding: 5px;
}
.heading p{
    text-align: center;
}
.head-img-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px;
}
.empty{
    width: 180px;
}
.head-img{
    width: 70%;
    display: flex;
    justify-content: center;
}
.head-img img{
    width: 150px;
}
.head-icons{
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head-icons a{
    color: black;
}
.nav-item{
    padding-bottom: 1.4%;
}
.nav-item ul{
    text-align: center;
    
}
.nav-item ul li{
    padding: 1.1%;
    display: inline;
}
.nav-item ul li:hover{
    color: white;
    border-bottom:3px solid #FF9966;
}
.nav-item ul li:hover a{
    color: white;
}
.nav-item ul li a{
    font-size: 0.8rem;
    color: #300C0C;
    text-decoration: none;
}
button{
    width: 11rem;
    border: none;
    color: white;
    cursor: pointer;
    padding: 11.12px 13.51px;
    background-color: #FF9966;
}